<div>
	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Volver a inicio</a>
	<h2>Mis Citas <small></small></h2>
	<span class="glyphicon glyphicon-search bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
			<!-- Trigger the modal with a button -->
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<div class="caption">
							<h3>Reumatología con Fabio Espinosa</h3>
							<p>23 de Octubre (2016)</p>
							<p>12:30pm</p>
							<p>	<button type="button" class="btn btn-warning btn" data-toggle="modal" data-target="#modal3">Cancelar cita</button></p>
						</div>
					</div>
				</div>

			</div>

			<!-- Modal -->
			<div id="modal3" class="modal fade" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Cancelar cita</h4>
						</div>
						<div class="modal-body">
							Su cita ha sido cancelada
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>