<div>
	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Volver a inicio</a>
	<h2>Especialistas <small></small></h2>
	<span class="glyphicon glyphicon-search bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<h4> Busque por especialidad o nombre del doctor: </h4>
				<p>
					<div class="input-group input-group-lg">
						<span class="input-group-addon" id="sizing-addon1">
							<i class="fa fa-search" aria-hidden="true"></i>
						</span>
						<input type="text" class="form-control" placeholder="Búsqueda" aria-describedby="sizing-addon1">
					</div>
				</p>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="images/dr1.png" alt="pic">
						<div class="caption">
							<h3>Fabio Álvarez</h3>
							<p>Reumatología</p>
							<p>$85.000/h</p>
							<p>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>

							</p>
							<p>	<button type="button" class="btn btn-info btn" data-toggle="modal" data-target="#myModal">Horarios</button> <button type="button" class="btn btn-info btn" data-toggle="modal" data-target="#modal2">Información</button></p>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="images/dr2.jpg" alt="pic">
						<div class="caption">
							<h3>Andrés Osorio</h3>
							<p>Hematología</p>
							<p>$120.000/h</p>
							<p>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</p>
							<p>	<button type="button" class="btn btn-info btn" data-toggle="modal" data-target="#myModal">Horarios</button> <button type="button" class="btn btn-info btn" data-toggle="modal" data-target="#modal2">Información</button></p>
						</div>
					</div>
				</div>
			</div>

			<!-- Trigger the modal with a button -->


			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Horarios del doctor ...</h4>
						</div>
						<div class="modal-body">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Septiembre 2016</h3>
								</div>
								<div class="panel-body">

									<table class="table">
										<thead>
											<tr>
												<th>#</th>
												<th>Fecha</th>
												<th>Hora</th>
												<th>Reservas</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row">1</th>
												<td>23 (Viernes)</td>
												<td>9:00 - 9:45 (am)</td>
												<td><a href="#" class="btn btn-primary" role="button">Reservar</a></td>
											</tr>
											<tr>
												<th scope="row">2</th>
												<td>24 (Sábado)</td>
												<td> 10:00 - 10:45 (am)</td>
												<td><a href="#" class="btn btn-primary" role="button">Reservar</a></td>
											</tr>
											<tr>
												<th scope="row">3</th>
												<td>25 (Domingo)</td>
												<td>5:00 - 5:45 (pm)</td>
												<td><a href="#" class="btn btn-primary" role="button">Reservar</a></td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>						</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							</div>
						</div>

					</div>
				</div>

				<div id="modal2" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Infomación del Doctor ...</h4>
							</div>
							<div class="modal-body">
								<p>
									ESTUDIOS REALIZADOS

									POSTGRADO: UNIVERSIDAD MILITAR NUEVA GRANADA: "ESCUELA MILITAR DE MEDICINA". ESPECIALISTA EN MEDICINA INTERNA. ENERO 1985 - ENERO 1988.

									UNIVERSIDAD NACIONAL DE COLOMBIA: ESPECIALISTA EN REUMATOLOGIA. FEBRERO 1988 - FEBRERO 1990.

									EXPERIENCIA LABORAL Y DOCENTE

									SERVICIO DE SALUD DE BOGOTA: MEDICO RURAL. SEPTIEMBRE 1983 - SEPTIEMBRE 1984.

									CLINICA EL BOSQUE-BOGOTA: MEDICO INTENSIVISTA. MARZO 1987 - ENERO 1990.

									FUNDACION INSTITUTO DE REUMATOLOGIA  CONSULTA EXTERNA E INMUNOLOGIA: BOGOTA. MARZO 1988-ENERO 1990.

									FUNDACION VALLE DEL LILI - CALI: REUMATOLOGO - INTERNISTA. FEBRERO 1990 - JUNIO 2001. JEFE DEPARTAMENTO DE MEDICINA INTERNA. ENERO 1994 – JUNIO 2001.
								</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>

					</div>
				</div>


			</div>

		</div>
	</div>
</div>